<div class="alert-notification-component" v-bind:class="alertClass">
  <div class="pull-right cursor-pointer" id="test" v-on:click.prevent="destroy">&times;</div>{{ alert ? alert.message : "" }}
</div>
