.landing-page-component * {
	font-family: 'karla', sans-serif;
}.footer,
.landing-page-component .header {
	background: #ABA0CB;
	color: white;
}
.landing-page-component .ctas-button {
	color: #444;
}

.landing-page-component *,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

/*text*/
.landing-page-component .heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
@media (max-width: 900px) {
.landing-page-component .heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.landing-page-component .subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .landing-page-component .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}

.landing-page-component .paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}

.landing-page-component .heading + .paragraph {
  margin-top: 30px;
}

.landing-page-component .subheading + .paragraph {
  margin-top: 10px;
}

.landing-page-component p.paragraph {
  color: rgba(0,0,0,.5);
}

.landing-page-component .logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}

@media (max-width: 420px) {
  .landing-page-component .logo {
    font-size: 22px;
  }
}

.landing-page-component .nav-link2,.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

.landing-page-component .nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.landing-page-component .text-center {
  text-align: center;
}
.landing-page-component .text-right {
  text-align: right;
}

/*flexbox styles*/
.landing-page-component .flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.centervertical {
  flex-direction: column;
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
.vertical {
  flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}.header {
	padding: 20px 0 90px 0;
	overflow: hidden;
}
.header .heading {
	margin: 120px 0 0 0;
}
.header .centerdevices {
	margin: 60px 0 60px;
}
@media (max-width: 900px) {
	.header .heading {
		margin-top: 60px;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}.socialproof {
	padding: 90px 0;
}
@media (max-width: 680px) {
	.socialproof .flex {
		flex-wrap: wrap;
	}
	.socialproof .col-3 {
		width: 50%;
	}
	.socialproof .col-3:nth-of-type(n + 3) {
		margin-top: 30px;
	}
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.footer {
	padding: 45px 0;
}
.footer .nav-link {
	display: inline-block;
	margin: 0 10px;
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.feature3 {
	padding: 90px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.feature3 .emoji {
	font-size: 55px;
	color: black
}
@media (max-width: 750px) {
  .feature3 .emoji {
    font-size: 40px;
  }
  .feature3 .flex {
  	flex-wrap: wrap;
  }
  .feature3 .col-4:nth-of-type(1) {
  	width: 100%;
  	margin-bottom: 30px;
  }
  .feature3 .col-4:not(:nth-of-type(1)) {
  	width: 50%;
  }
}
@media (max-width: 500px) {
	.feature3 .col-4:nth-of-type(1) {
		margin-bottom: 0;
	}
  .feature3 .col-4:not(:nth-of-type(1)) {
  	width: 100%;
  	margin-top: 30px;
  }
}

.centerdevices .computerwrapper .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .computerwrapper .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .computerwrapper .computer {
	width: 800px;
	/*height: 560px;*/
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	border-radius: 18px;
	position: relative;
	margin: auto;
	box-shadow: inset 0 2px 7px 1px rgba(255,255,255,.5),inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 76px 75px 169px -35px rgba(0,0,0,0.4);
	padding: 25px 25px;
}
.centerdevices .computerwrapper .computer:after,
.centerdevices .computerwrapper .computer:before {
	content: "";
	position: absolute;
	border-radius: 3px 3px 0 0;
	width: calc(100% + 200px);
	height: 10px;
	background: linear-gradient(to right, rgba(246,250,253,1) 0%,rgba(221,226,233,1) 6%,rgba(246,250,253,1) 15%,rgba(246,250,253,1) 42%,rgba(230, 230, 230, 1) 42%,rgba(246,250,253,1) 45%,rgba(246,250,253,1) 53%,rgba(230, 230, 230, 1) 56%,rgba(246,250,253,1) 56%, rgba(246,250,253,1) 85%,rgba(221,226,233,1) 94%,rgba(246,250,253,1) 100%);
	left: -100px;
	bottom: -5px;
}
.centerdevices .computerwrapper .computer:before {
	height: 6px;
	bottom: -11px;
	border-radius: 0 0 40px 40px;
	background: #dde2e9;
	box-shadow: inset 0px -25px 10px -20px rgba(0,0,0,.5);
}
@media screen and (max-width: 900px) {
.centerdevices .computerwrapper .computer {
		margin: auto;
		width: 100%;
		padding: 20px;
		height: calc((100vw - 80px) * .75);
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}
