<section class="landing-page-component">

  <header class="header">

    <div class="container-lrg">
      <div class="col-12 spread">
        <div>
          <a class="logo">
            <img class="valign-mid site-icon" src="static/images/logo/passcue-logo.svg"></img>
            {{ appName }}
          </a>
        </div>
        <div>

          <a href="https://gitlab.com/mrman/passcue-frontend" class="nav-link" target="_blank">
            <i class="fa fa-gitlab white-fg"></i> Open Source
          </a>

          <router-link class="nav-link" to="app">
            <i class="fa fa-user white-fg"></i> Login
          </router-link>

        </div>
      </div>
    </div>

    <div class="container-sml ">
      <div class="col-12">
        <h1 class="heading text-center">
          Hints for your passwords,<br>everywhere.<br>
        </h1>
      </div>
    </div>

    <div class="container-lrg">
      <div class="centerdevices col-12">
        <div class="computerwrapper">
          <div class="computer">
            <div class="mask">
              <img class="mask-img" src="static/images/landing/reddit-login-example.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-sml">
      <div class="col-12 text-center">
        <h2 class="paragraph">
          Passcue puts hints for your passwords, on all your devices.</br>
          <b>Public Beta</b> - Enter your email below to register and give it a whirl!
        </h2>
        <div class="ctas">
          <div class="emailcta">
            <form v-on:submit.prevent="redirectToSignupWithEmail">
              <input class="black-fg ctas-input"
                     type="text"
                     v-model="emailAddress"
                     placeholder="Your Email Address">
              <button class="ctas-button" v-on:click.prevent="redirectToSignupWithEmail">
                I'm interested!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="feature3">
    <div class="container-lrg flex">
      <div class="col-12">
        <div class="centered-text"><b class="emoji">🔰</b></div>
        <h3 class="centered-text subheading">Why Passcue? <br/></h3>
        <p class="paragraph">
          <strong>You really should be using a secure password manager</strong> like <a href="https://www.lastpass.com/" target="_blank">lastpass</a> or <a href="https://1password.com/">1password</a> or <a href="https://www.keepassx.org/" target="_blank">KeyPassX</a>. If you don't like/trust those tools, you could also store this kind of information in a product like <a href="https://laverna.cc/">Laverna Notes</a>, <a href="https://standardnotes.org/">Standard Notes</a> or <a href="http://evernote.com/">Evernote</a>. <strong>Passcue is for people who aren't quite ready to give all their passwords over to a password manager, and want a service a little more structured/tailored to the specific problem of remembering passwords.</strong>
        </p>

        <br/>

        <p class="paragraph">
          By not sharing valuable data with Passcue <strong>(we don't want your passwords)</strong>, and by targeting most of the platforms you're on, Passcue hopes to be less intrusive than a proper password manager, and more focused/convenient than a general note taking service. Also, <strong>Passcue is open source so you can run your own passcue server</strong>.
        </p>
      </div>
    </div>
  </div>

  <div class="feature3">
    <div class="container-lrg flex">
      <div class="col-4">
        <div class="centered-text"><b class="emoji">🔰</b></div>
        <h3 class="centered-text subheading">
          Stupid Simple<br>
        </h3>
        <p class="paragraph">
          Passcue stores your hints, no more no less. If you're looking for a proper password manager, check out lastpass.<br>
        </p>
      </div>
      <div class="col-4">
        <div class="centered-text"><b class="emoji">🔃</b></div>
        <h3 class="centered-text subheading">
          Synced Everywhere<br>
        </h3>
        <p class="paragraph">
          Passcue hints are synced across your devices, whether you open up the web app, chrome extension, or any other passcue app, your hints will be there.<br>
        </p>
      </div>
      <div class="col-4">
        <div class="centered-text"><b class="emoji">🛠</b></div>
        <h3 class="centered-text subheading">
          Open Source<br>
        </h3>
        <p class="paragraph">
          Don't want us to have your data? Set up your own passcue server, or build the extensions on your own.<br>
        </p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container-sml">
      <div class="col-12 text-center">
        <div>
          <a href="mailto:contactus@passcue.com" class="nav-link">
            Contact
          </a>

          <!-- TODO: add a proper privacy policy, maybe one like craigslist's but simpler -->
          <!-- <a class="nav-link">
               Privacy
               </a>
             -->
        </div>
        <br>
        <div>
          <span>
            © 2016 - {{ currentYear}} <a class="plain white-fg" style="border-bottom:dashed white 1px;" href="gaisma.co.jp" target="_blank">GAISMA</a>.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
