.hint-list-item-component {
  border-radius: 3px;
  box-shadow: 1px 3px 3px #999;
}

.hint-list-item-component .header {
  padding: .25em .5em;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hint-list-item-component .header.icon-container {
  border-top-left-radius: 0;
}

.hint-list-item-component .header.url-container {
  border-top-right-radius: 0;
}

.hint-list-item-component .content {
  padding: 1em;
}

.hint-list-item-component.500px .header { background-color: black; }
.hint-list-item-component.amazon .header { background-color: #ff9900; }
.hint-list-item-component.android .header { background-color: #99cc00; }
.hint-list-item-component.angellist .header { background-color: white; }
.hint-list-item-component.apple .header { background-color: #979797; }
.hint-list-item-component.bandcamp .header { background-color: #639AA9; }
.hint-list-item-component.behance .header { background-color: #0096ff; }
.hint-list-item-component.bitbucket .header { background-color: #013364; }
.hint-list-item-component.bitcoin .header { background-color: #F7931A; }
.hint-list-item-component.black-tie .header { background-color: black;; }
.hint-list-item-component.bluetooth .header { background-color: #0082fc; }
.hint-list-item-component.bluetooth-b .header { background-color: #0082fc; }
.hint-list-item-component.btc .header { background-color: #F7931A; }
.hint-list-item-component.buysellads .header { background-color: #AA0000; }
.hint-list-item-component.cc-amex .header { background-color: #2590DC; }
.hint-list-item-component.cc-diners-club .header { background-color: #0079BE; }
.hint-list-item-component.cc-discover .header { background-color: #FA7E24; }
.hint-list-item-component.cc-jcb .header { background-color: #0061AB; }
.hint-list-item-component.cc-mastercard .header { background-color: #F26122; }
.hint-list-item-component.cc-paypal .header { background-color: #069BDD; }
.hint-list-item-component.cc-stripe .header { background-color: #6772E5; }
.hint-list-item-component.cc-visa .header { background-color: #122d98; }
.hint-list-item-component.chrome .header { background-color: #122d98; }
.hint-list-item-component.codepen .header { background-color: white; }
.hint-list-item-component.codiepie .header { background-color: black; }
.hint-list-item-component.connectdevelop .header { background-color: #8A50A0; }
.hint-list-item-component.contao .header { background-color: #D46E0B; }
.hint-list-item-component.css3 .header { background-color: #0071BC; }
.hint-list-item-component.dashcube .header { background-color: #7f7f7f; }
.hint-list-item-component.delicious .header { background-color: #0076e8; }
.hint-list-item-component.deviantart .header { background-color: #475c4d; }
.hint-list-item-component.digg .header { background-color: black; }
.hint-list-item-component.dribbble .header { background-color: #E45189; }
.hint-list-item-component.dropbox .header { background-color: #007EE6; }
.hint-list-item-component.drupal .header { background-color: #5BC3FF; }
.hint-list-item-component.edge .header { background-color: #0078D7; }
.hint-list-item-component.eercast .header { background-color: #F1592A; }
.hint-list-item-component.empire .header { background-color: black; }
.hint-list-item-component.envira .header { background-color: #7ABF47; }
.hint-list-item-component.etsy .header { background-color: #F56400; }
.hint-list-item-component.expeditedssl .header { background-color: #343433; }
.hint-list-item-component.fa .header { background-color: #1fa67a; }
.hint-list-item-component.facebook .header { background-color: #3a5795; }
.hint-list-item-component.firefox .header { background-color: #ee8424; }
.hint-list-item-component.flickr .header { background-color: #0063DB; }
.hint-list-item-component.font-awesome .header { background-color: #1fa67a; }
.hint-list-item-component.fonticons .header { background-color: #1fa67a; }
.hint-list-item-component.fort-awesome .header { background-color: black; }
.hint-list-item-component.forumbee .header { background-color: #83ad13; }
.hint-list-item-component.foursquare .header { background-color: #F93B70; }
.hint-list-item-component.free-code-camp .header { background-color: darkgreen; }
.hint-list-item-component.ge .header { background-color: #3A73BA; }
.hint-list-item-component.get-pocket .header { background-color: #DC5560; }
.hint-list-item-component.gg .header { background-color: #33A2A6; }
.hint-list-item-component.github .header { background-color: black; }
.hint-list-item-component.gitlab .header { background-color: #6b4fbb; }
.hint-list-item-component.gittip .header { background-color: #454545 ; }
.hint-list-item-component.glide .header { background-color: #00baff; }
.hint-list-item-component.google-plus .header { background-color: #0057e7; }
.hint-list-item-component.google-wallet .header { background-color: #0057e7; }
.hint-list-item-component.google .header { background-color: #0057e7; }
.hint-list-item-component.gratipay .header { background-color: #454545; }
.hint-list-item-component.grav .header { background-color: #844BA1; }
.hint-list-item-component.houzz .header { background-color: #9ECE44; }
.hint-list-item-component.imdb .header { background-color: #E6D03E; }
.hint-list-item-component.instagram .header { background-color: #8a3ab9; }
.hint-list-item-component.internet-explorer .header { background-color: #8a3ab9; }
.hint-list-item-component.ioxhost .header { background-color: #faa729; }
.hint-list-item-component.joomla .header { background-color: #1a3867; }
.hint-list-item-component.jsfiddle .header { background-color: #1C90F3; }
.hint-list-item-component.lastfm .header { background-color: #D51007; }
.hint-list-item-component.leanpub .header { background-color: black; }
.hint-list-item-component.linkedin .header { background-color: #0173B2; }
.hint-list-item-component.linode .header { background-color: #00B259; }
.hint-list-item-component.linux .header { background-color: black; }
.hint-list-item-component.maxcdn .header { background-color: #FF5B02; }
.hint-list-item-component.meanpath .header { background-color: black; }
.hint-list-item-component.medium .header { background-color: #02b875; }
.hint-list-item-component.meetup .header { background-color: #ed1c40; }
.hint-list-item-component.mixcloud .header { background-color: black; }
.hint-list-item-component.modx .header { background-color: #8AC551; }
.hint-list-item-component.odnoklassniki .header { background-color: #ee8208; }
.hint-list-item-component.opencart .header { background-color: #2FBFEC; }
.hint-list-item-component.openid .header { background-color: #f78c40; }
.hint-list-item-component.opera .header { background-color: #FF4B4B; }
.hint-list-item-component.optin-monster .header { background-color: #0d82df; }
.hint-list-item-component.pagelines .header { background-color: white; }
.hint-list-item-component.paypal .header { background-color: #069BDD; }
.hint-list-item-component.pinterest .header { background-color: #CC1A22; }
.hint-list-item-component.product-hunt .header { background-color: #D9552F; }
.hint-list-item-component.qq .header { background-color: black; }
.hint-list-item-component.quora .header { background-color: #A82300; }
.hint-list-item-component.ra .header { background-color: #E55C02; }
.hint-list-item-component.ravelry .header { background-color: #D21554; }
.hint-list-item-component.rebel .header { background-color: #E55C02; }
.hint-list-item-component.reddit .header { background-color: #5f99cf; }
.hint-list-item-component.renren .header { background-color: #005EAC; }
.hint-list-item-component.resistance .header { background-color: #E55C02; }
.hint-list-item-component.safari .header { background-color: white; }
.hint-list-item-component.scribd .header { background-color: black; }
.hint-list-item-component.sellsy .header { background-color: white; }
.hint-list-item-component.shirtsinbulk .header { background-color: #dd3a26; }
.hint-list-item-component.simplybuilt .header { background-color: white; }
.hint-list-item-component.skyatlas .header { background-color: #00AEBC; }
.hint-list-item-component.skype .header { background-color: #00AFF0; }
.hint-list-item-component.slack .header { background-color: black; }
.hint-list-item-component.slideshare .header { background-color: #F79929; }
.hint-list-item-component.snapchat-ghost .header { background-color: #FFFC00; }
.hint-list-item-component.soundcloud .header { background-color: #F7720F; }
.hint-list-item-component.spotify .header { background-color: #AACB00; }
.hint-list-item-component.stack-exchange .header { background-color: #326EB6; }
.hint-list-item-component.stack-overflow .header { background-color: #F48024; }
.hint-list-item-component.steam .header { background-color: #BDBBB9; }
.hint-list-item-component.stumbleupon-circle .header { background-color: white; }
.hint-list-item-component.telegram .header { background-color: #32A9DF; }
.hint-list-item-component.tencent-weibo .header { background-color: #0066B1; }
.hint-list-item-component.themeisle .header { background-color: #189AC4; }
.hint-list-item-component.trello .header { background-color: #006986; }
.hint-list-item-component.tripadvisor .header { background-color: white; }
.hint-list-item-component.tumblr .header { background-color: #33536C; }
.hint-list-item-component.twitch .header { background-color: #6541A5; }
.hint-list-item-component.twitter .header { background-color: #33CEFE; }
.hint-list-item-component.viacoin .header { background-color: black; }
.hint-list-item-component.viadeo .header { background-color: #f07355; }
.hint-list-item-component.vimeo .header { background-color: black; }
.hint-list-item-component.vine .header { background-color: #00B488; }
.hint-list-item-component.vk .header { background-color: #507299; }
.hint-list-item-component.wechat .header { background-color: #55B74A; }
.hint-list-item-component.weibo .header { background-color: #D42A2D; }
.hint-list-item-component.weixin .header { background-color: black; }
.hint-list-item-component.whatsapp .header { background-color: #23AC0D; }
.hint-list-item-component.wikipedia-w .header { background-color: #C7C8CA; }
.hint-list-item-component.windows .header { background-color: #00ADEF; }
.hint-list-item-component.wordpress .header { background-color: #0073aa; }
.hint-list-item-component.wpbeginner .header { background-color: #2d2520; }
.hint-list-item-component.wpexplorer .header { background-color: #1796c6; }
.hint-list-item-component.wpforms .header { background-color: #e27730; }
.hint-list-item-component.xing .header { background-color: #005A5F; }
.hint-list-item-component.y-combinator .header { background-color: #F26522; }
.hint-list-item-component.yahoo .header { background-color: #5600C2; }
.hint-list-item-component.yelp .header { background-color: #d32323; }
.hint-list-item-component.yoast .header { background-color: #73B022; }
.hint-list-item-component.youtube .header { background-color: #fd4314; }
