<div class="hint-list-item-component white-bg" :class="companyClass">
  <!-- Only show anything if hint is valid -->
  <div v-if="hint">

    <div class="icon-container header pull-right cursor-pointer xx-large white-fg" v-on:click="$emit('remove-hint', hint)">
      <i class="fa fa-trash"></i>
    </div>


    <div class="url-container header xx-large white-fg nephritis-bg">
      <hint-icon :url="hint.url"></hint-icon> {{ hint.url }}
    </div>

    <div class="content">
      <p class="hint-text bigger">{{ hint.text }}</p>
      <p class="hint-created-date smaller italic">Created {{ hint.created | fuzzy-date }}</p>
    </div>

  </div>
</div>
