<section id="signup" class="signup-page-component flex contents-centered wrapped columns">

  <!-- signup -->
  <div id="signup-box" class="pure-u-1 pure-u-sm-3-4 pure-u-md-3-5 pure-u-lg-1-4">
    <div class="sm-pad">

      <h1 class="title centered-text valign-mid slim-margin-bottom">
        <img id="logo" class="valign-mid" src="static/images/logo/passcue-logo.svg"></img>
        {{ appName }} Signup
      </h1>

      <!-- local alerts -->
      <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

      <!-- alerts from other parts of the app that might be expecting to redirect here -->
      <alert-listing :alerts="signupAlerts"></alert-listing>

      <form class="pure-form pure-form-stacked" v-on:submit.prevent="signup">
        <fieldset>

          <input class="pure-input-1" placeholder="Your Email Address" v-model="emailAddress">
          <input class="pure-input-1" placeholder="Your Password" type="password" v-model="password">
          <input class="pure-input-1" placeholder="Your Password, again" type="password" v-model="passwordConfirm">

          <button class="pure-button pure-u-1 pure-button-primary md-margin-top button-large" type="submit">Sign Up</button>

        </fieldset>
      </form>

    </div><!-- /div.sm-pad -->
  </div><!-- /#signup-box -->

</section>
