<section class="settings-page-component full-height" id="settings">

  <plain-header>
    <!-- note - flebox inside here -->
    <div class="pure-u-1-12 plain-header-item cursor-pointer">
      <router-link id="home-link" class="plain" to="home">
        <i class="fa fa-arrow-circle-left xx-large"></i>
      </router-link>
    </div>

    <h1 class="pure-u-11-12 centered-text">{{ appName }} Settings</h1>
  </plain-header>

  <form class="pure-form" v-on:submit.prevent="saveSettings">
    <fieldset>

      <!-- Custom Passcue server URL -->
      <div class="pure-g">
        <label class="pure-u-1 bold-text" for="custom-passcue-server">
          <h2>Custom Passcue Server</h2>
        </label>
        <div class="pure-u-1">
          <div class="pure-g">
            <input id="custom-passcue-server"
                   class="pure-u-3-5"
                   type="text"
                   v-model="serverBaseURL"
                   placeholder="Server Address, ex. http://localhost:3000"/>

            <button class="pure-button pure-u-2-5 right-of-input"
                    type="button"
                    :class="serverBaseURLBtnClass"
                    v-on:click.prevent="saveServerBaseURL">
              <i class="fa" :class="serverBaseURLBtnIconClass"></i> {{ serverBaseURLMatchesEnvSvc ? "Saved" : "Click to Save" }}
            </button>

          </div>

        </div>

      </div>

    </fieldset>
  </form>
</section>
