<section class="hint-creation-dialog-component concrete-bg white-fg full-width rel-pos">
  <!-- Close button -->
  <h1 class="pull-right xs-margin-right xs-margin-top cursor-pointer"
      v-on:click.prevent="$emit('hide')">&times;</h1>

  <!-- Saving hint message overlay (starts hidden) -->
  <div class="abs-pos full-width full-height opaque-black-bg" :class="{ hidden:!savingHintMessageShown }">
    <div class="full-width full-height flex contents-centered wrapped">
      <h1><i class="fa fa-spin fa-circle-o-notch"></i> Saving hint message</h1>
    </div>
  </div>

  <div class="md-pad">
    <alert-listing :alerts="alerts" maxAlertCount=1></alert-listing>

    <h2>Add a new Hint</h2>
    <form id="hint-creation-form" class="pure-form pure-form-stacked" v-on:submit.prevent="createHint">
      <fieldset>

        <div class="pure-g">

          <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">
            <label for="url">URL (domain):</label>
            <input id="url"
                   type="text"
                   class="pure-input-1 black-fg"
                   placeholder="Appropriate URL (domain) for the hint, ex. google.com"
                   v-model="url"/>
          </div>


          <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">
            <label for="text">Your hint:</label>
            <textarea id="text"
                      type="text"
                      class="pure-input-1 black-fg"
                      placeholder="A note to your future self that has forgotten your password..."
                      v-model="text"></textarea>
          </div>

          <div class="pure-u-1">
            <button id="btn-create-hint"
                    type="submit"
                    class="pure-button button-xlarge button-success sm-margin-top pure-input-1">
              <i class="fa fa-save"></i> Save Hint
            </button>
          </div>

        </div> <!-- /.pure-g -->

      </fieldset>
    </form>
  </div>
</section>
