body, html {
  margin: 0;
  height: 100%;
  font: sans-serif;

}

#app.app-env-chrome-extension {
  min-width: 500px;
  min-height: 600px;
}

#app.app-env-firefox-extension {
  /** NOTE - if min-width is set instead of width on FF, extension will get a little wider (FIX?) */
  width: 500px;
  height: 600px;
}

section#app {
  height: 100%;
}

/* Remove default margin that gets added to header items*/
h1, h2, h3, h4, h5, h6 { margin: 0; }

/***************************/
/* Flexbox utility classes */
/***************************/

.flex {
  display: flex
}

.flex.wrapped { flex-wrap: wrap; }
.flex.columns { flex-direction: column; }
.flex.row { flex-direction: row; }

.flex.contents-centered {
  align-items: center;
  justify-content: center;
}

/**********/
/* Colors */
/**********/

.concrete-bg { background-color: #95a5a6; } /* flatuicolors.com/concrete */
.emerald-bg { background-color: #2ecc71; } /* flatuicolors.com/emerald */
.silver-bg {background-color: #bdc3c7; }  /* flatuicolors.com/silver */
.alizarin-bg {background-color: #e74c3c; }  /* flatuicolors.com/alizarin */
.sunflower-bg {background-color: #f1c40f; }  /* flatuicolors.com/sunflower */
.amethyst-bg {background-color: #9b59b6; }  /* flatuicolors.com/amethyst */
.nephritis-bg {background-color: #27ae60; }  /* flatuicolors.com/nephritis */

.white-fg { color: white; }
.white-bg { background-color: white; }
.black-fg { color: black; }

.congruent-pentagon-bg {
  background: url("/static/images/patterns/congruent_pentagon.png") repeat;
  color: #888;
}

.site-icon {
  max-height: 2em;
}

/****************/
/* Misc Styling */
/****************/

.sm-pad { padding: 1em; }
.md-pad { padding: 3em; }
.thick-pad { padding: 5em; }

.sm-margin { margin: 1em; }
.xs-margin-top { margin-top: .5em; }
.xs-margin-right { margin-right: .5em; }
.sm-margin-top { margin-top: 1em; }
.sm-margin-right { margin-right: 1em; }
.md-margin { margin: 3em; }
.md-margin-top { margin-top: 3em; }
.thick-margin { margin: 5em; }

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.slim-margin-bottom { margin-bottom: 1em; }
.no-margin-bottom { margin-bottom: 0; }

.centered-text { text-align: center; }
.right-aligned-text { text-align: right; }

.valign-mid { vertical-align: middle; }

.bold-text { font-weight:bold; }

.cursor-pointer { cursor: pointer; }

a.plain { text-decoration: none; }
a.plain.dashed {
  text-decoration: none;
  border-bottom: 1px dashed;
}
a.plain:hover { text-decoration: none; }
a.plain:visited {
  color: inherit;
  text-decoration: none;
}

.smaller { font-size: smaller; }
.larger { font-size: larger; }
.xx-large { font-size: xx-large; }
.italic { font-style: italic; }

.full-width { width: 100%; }
.full-height { height: 100%; }
.force-display-block { display: block; }

.rel-pos { position: relative; }
.abs-pos { position: absolute; }

.opaque-black-bg { background-color: rgba(50,50,50,0.95); }

/******************/
/* Pure Overrides */
/******************/

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

/* Cause buttons to the right of input to line up and look like they're the same */
.pure-button.right-of-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
}

@media only screen and (max-width: 480px) {
  .pure-button.right-of-input {
    margin-bottom: .3em; /* buttons must mimic input fields which do this in pure */
  }
}

/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}

/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}

/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}

/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}

/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
