/* Style for the login-page component */

.login-page-component {
  background-color: #bdc3c7; /* flatuicolors/silver */
  height: 100%;
}

.login-page-component #login-box {
  box-shadow: 1px 4px 4px #888;
}

.login-page-component #login-box h1.title {
  font-weight: 100;
}

.login-page-component #login-box {
  background-color: #FFF;
  border-radius: 3px;
}

.login-page-component #login-box img#logo {
  max-height: 2em;
}
