<section id="login" class="login-page-component flex contents-centered wrapped columns">

  <!-- login -->
  <div id="login-box" class="pure-u-1 pure-u-sm-3-4 pure-u-md-3-5 pure-u-lg-1-4">
    <div class="sm-pad">

      <h1 class="title centered-text valign-mid slim-margin-bottom">
        <img id="logo" class="valign-mid" src="static/images/logo/passcue-logo.svg"></img>
        {{ appName }} Login
      </h1>

      <!-- local alerts -->
      <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

      <!-- alerts from other parts of the app that might be expecting to redirect here -->
      <alert-listing :alerts="loginAlerts"></alert-listing>

      <form class="pure-form pure-form-stacked" v-on:submit.prevent="login">
        <fieldset>

          <input class="pure-input-1" placeholder="Email" v-model=email>

          <input v-if="showPlainTextPassword"
                 class="pure-input-1"
                 placeholder="Password"
                 type="text"
                 v-model="password">

          <input class="pure-input-1" placeholder="Password" type="password" v-model="password" v-else>

          <label for="show-plain-password">
            <input id="show-plain-password"
                   type="checkbox"
                   v-model="showPlainTextPassword">
            Show password
          </label>

          <button class="pure-button pure-u-1 pure-button-primary md-margin-top button-large" type="submit">Log In</button>

        </fieldset>
      </form>

    </div><!-- /div.sm-pad -->
  </div><!-- /#login-box -->

  <!-- Advanced options section -->
  <div id="advanced-options" class="pure-u-1 pure-u-sm-3-4 pure-u-md-3-5 pure-u-lg-1-4">
        <p class="cursor-pointer" v-on:click.prevent="showAdvancedOptions = !showAdvancedOptions">
          <i class="fa fa-gear"></i> Advanced Options
        </p>

        <div class="advanced-options-container" v-show="showAdvancedOptions">
          <form class="pure-form" v-on:submit.prevent="saveAdvancedOptions">
            <fieldset>

              <div class="pure-g">
                <label class="pure-u-1 bold-text" for="custom-passcue-server">Custom Passcue Server</label>
                <div class="pure-u-1">
                  <div class="pure-g">
                    <input id="custom-passcue-server"
                           class="pure-u-3-5"
                           type="text"
                           v-model="serverBaseURL"
                           placeholder="Server Address, ex. http://localhost:3000"/>

                    <button class="pure-button pure-u-2-5 right-of-input"
                            type="button"
                            :class="serverBaseURLBtnClass"
                            v-on:click.prevent="saveServerBaseURLToEnvSvc">
                      <i class="fa" :class="serverBaseURLBtnIconClass"></i> {{ serverBaseURLMatchesEnvSvc ? "Saved" : "Click to Save" }}
                    </button>

                  </div>

                </div>

              </div>

            </fieldset>
          </form>

        </div>
  </div><!-- /#advanced-options -->

</section>
