.app-page-component {
  display: flex;
  flex-direction: column;

  padding-top: 3em; /* Matches height of header-nav element */
  height: 100%;
}

.app-contents-container {
  flex: 1 1 auto;

  padding: 0 1em;
}

#filter-input-form {
  display: inline-block;
}

.slide-in-modal-container {
  position: fixed;

  width: 100%;
  height: 100%;

  transform: translate(0, -100%);
  transition: transform 1s;
}

.slide-in-modal-container.shown {
  transform: translate(0, 0);
}
