<section id="app-page" class="app-page-component">

  <div class="slide-in-modal-container" :class="{ shown: hintCreationDialogShown }">
    <hint-creation-dialog v-on:hide="hintCreationDialogShown = false"
                          :save-created-hint-fn="saveCreatedHint"></hint-creation-dialog>
  </div>

  <header-nav v-on:logout="doLogout"
              v-on:hint-refresh="refreshHints"
              v-on:hint-create="hintCreationDialogShown = true">
    <form id="filter-input-form" class="pure-form pure-u-1" slot="filter-input" v-on:submit.prevent>
      <input class="pure-input-rounded pure-input-1" placeholder="Filter Hints..." v-model="filterInput" />
    </form>
  </header-nav>

  <div class="app-contents-container silver-bg">
    <hint-listing :filter-input="filterInput" v-on:remove-hint="removeHint"></hint-listing>
  </div>

  <footer-nav></footer-nav>

</section>
