<section class="hint-listing-component">
  <ul class="hint-listing">
    <li is="hint-list-item"
        v-for="h in filteredHints"
        v-on:remove-hint="bubbleRemoveHint"
        :hint="h"></li>
  </ul>
</section>
