.header-nav-component {
  display: flex;
  flex: 0 0 auto;

  min-height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav-component .pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
  padding: .90em 1em;
}

.header-nav-component .pure-menu-link {
  transition: color .5s;
}

.header-nav-component .pure-menu-link:hover {
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
}

.lhs-nav-container, .rhs-nav-container {
  padding-top: .3em;
}

/* pure-hidden-xs */
@media screen and (max-width:567px) {
  .pure-menu-heading { padding-left: 0; }
}
