<section class="header-nav-component congruent-pentagon-bg">
  <div class="header-nav-menu-container pure-g force-display-block full-width">

    <!-- LHS menu container-->
    <div class="pure-u-1 pure-u-md-1-2 lhs-nav-container">
      <div class="pure-g force-display-block">

        <!-- Brand -->
        <div class="pure-hidden-xs pure-u-sm-1-6 pure-u-md-1-3">
          <router-link id="home-link" class="pure-menu-heading" to="home">{{ appName }}</router-link>
        </div>

        <!-- Filter -->
        <div class="pure-u-2-3 pure-u-sm-1-2 pure-u-md-2-3 filter-input-container">
          <slot name="filter-input"></slot>
        </div>

        <!-- mobile menu add hint -->
        <div class="pure-u-1-12  pure-hidden-md pure-hidden-lg pure-hidden-xl">
          <div id="create-hint-nav-button"
               title="Add Hint"
               class="cursor-pointer pure-menu-link"
               v-on:click.prevent="$emit('hint-create')">
            <i class="fa fa-plus"></i>
          </div>
        </div>

        <!-- mobile menu refresh -->
        <div class="pure-u-1-12  pure-hidden-md pure-hidden-lg pure-hidden-xl">
          <div id="refresh-hints-nav-button"
               class="cursor-pointer pure-menu-link"
               title="Refresh"
               v-on:click.prevent="$emit('hint-refresh')">
            <i class="fa fa-refresh"></i>
          </div>
        </div>

        <!-- mobile menu settings -->
        <div class="pure-u-1-12 pure-hidden-md pure-hidden-lg pure-hidden-xl">
          <router-link id="settings-link"
                       title="Settings"
                       class="pure-menu-link"
                       to="settings">
            <i class="fa fa-wrench"></i>
          </router-link>
        </div>

        <!-- mobile menu sign out -->
        <div class="pure-u-1-12 pure-hidden-md pure-hidden-lg pure-hidden-xl">
          <div id="sign-out-nav-button"
               title="Sign Out"
               class="cursor-pointer pure-menu-link"
               v-on:click.prevent="$emit('logout')">
            <i class="fa fa-sign-out"></i>
          </div>
        </div>

      </div>
    </div>

    <!-- RHS menu container -->
    <div class="pure-u-1 pure-hidden-xs pure-hidden-sm pure-u-md-1-2 pure-menu rhs-nav-container pure-menu-horizontal right-aligned-text">
      <div class="pure-g">

        <div class="pure-u-1">

          <!-- RHS menu-->
          <div class="pure-menu pure-menu-horizontal">

            <ul class="pure-menu-list">

              <li class="pure-menu-item centered-text">
                <div id="create-hint-nav-button"
                     class="cursor-pointer pure-menu-link"
                     v-on:click.prevent="$emit('hint-create')">
                  <i class="fa fa-plus"></i> New Hint
                </div>
              </li>

              <li class="pure-menu-item centered-text">
                <div id="refresh-hints-nav-button"
                     class="cursor-pointer pure-menu-link"
                     v-on:click.prevent="$emit('hint-refresh')">
                  <i class="fa fa-refresh"></i> Refresh
                </div>
              </li>

              <li class="pure-menu-item centered-text">
                <router-link id="settings-link" class="pure-menu-link" to="home">
                  <i class="fa fa-wrench"></i> Settings
                </router-link>
              </li>

              <li class="pure-menu-item centered-text">
                <div id="sign-out-nav-button"
                     class="cursor-pointer pure-menu-link"
                     v-on:click.prevent="$emit('logout')">
                  <i class="fa fa-sign-out"></i> Sign out
                </div>
              </li>

            </ul>

          </div>

        </div>

      </div>
    </div>


  </div>

  <!-- Alert listing -->
  <alert-listing :alerts="headerAlerts"></alert-listing>
</section>
