<section class="footer-nav-component congruent-pentagon-bg centered-text">
  <p class="no-margin-bottom">© 2016 - {{ currentYear }}</p>
  <p class="no-vertical-margin">{{ appName }} was built by <a class="plain dashed" href="https://gaisma.co.jp">GAISMA</a></p>
  <p class="no-vertical-margin">All <a class="plain dashed" href="http://fontawesome.io">fontawesome</a> company logos are properties of respective of their companies.</p>
</section>
